/* styles/informacoes.css */
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Press+Start+2P&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135deg, #557a69, #3c6158, #2f9789);
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: linear-gradient(135deg, #557a69, #3c6158, #2f9789);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000;
  line-height: 1.4;
  letter-spacing: 2px;
  padding: 30px;
  border-radius: 10px;
  color: #edcd5d;
}

h1{
  text-decoration: underline;
}

.back-btn {
  padding: 10px 20px;
  background: #443328;
  color: #ded597;
  border-color: #c5a274;
  border-style: solid;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.back-btn:hover {
  background: #744c33;
  transform: translateY(-2px);
}

.content {
    padding: 30px;
}

.info-section {
    margin-bottom: 40px;
}

.info-section h2 {
    color: #edcd5d;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000;
    margin-bottom: 20px;
    font-size: 1.3rem;
    text-align: center;
    /* border-bottom: 2px solid #2E8B57; */
    padding-bottom: 10px;
}

.info-section p {
  font-size: 1.1rem;
  color: #e2d1a0;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
  font-weight: bold;
  padding: 10px;
  line-height: 1.4;
  letter-spacing: 3px;
}

.skill-card {
    background-color: #947356;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;

    box-shadow: 
    2px 0 0 0 #573929,
    -2px 0 0 0 #573929,
    0 2px 0 0 #573929,
    0 -2px 0 0 #573929,
    4px 0 0 0 #573929,
    -4px 0 0 0 #573929,
    0 4px 0 0 #573929,
    0 -4px 0 0 #573929,
    2px 2px 0 0 #573929,
    -2px 2px 0 0 #573929,
    2px -2px 0 0 #573929,
    -2px -2px 0 0 #573929;
}

.skill-card:hover {
    transform: translateY(-5px);
}

.skill-card h3 {
  font-size: 1.1rem;
  color: #e2d1a0;
  text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
  font-weight: bold;
  padding: 10px;
}

.skill-card p {
    color: #edcd5d;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
    line-height: 1.6;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
    
    .content {
        padding: 20px;
    }
    
    h1 {
        font-size: 1.8rem;
    }
    
    .info-section h2 {
        font-size: 1.5rem;
    }
}